@font-face {
  font-family: "ArcadePix";
  src: url(../font/PressStart2P-vaV7.ttf);
}

p {
  font-family: "ArcadePix";
  font-size: 20px;
  text-align: left;
}

.main-wrapper,
.pause-menu,
.kill-menu,
.pass-menu,
.lost-menu,
.win-menu {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.pause-menu,
.kill-menu,
.pass-menu,
.lost-menu,
.win-menu {
  z-index: 10;
}

.testimage,
.wall,
.f-wall,
.hero,
.bomb,
.mushroom,
.blast {
  width: 30px;
  height: 30px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  background-size: 100%;
}

.wall {
  background-image: url("../img/block.png");
}

.f-wall {
  background-image: url("../img/frag-block.png");
}

.hero {
  background-image: url("../img/hero.png");
  z-index: 2;
}

.mushroom {
  background-image: url("../img/mob.png");
  z-index: 3;
}

.bomb {
  background-image: url("../img/bomb2.png");
}

.blast {
  background-image: url("../img/boom.png");
  z-index: 2;
}

img {
  width: 100%;
}

.game-field {
  position: relative;
}

.game-status-bar {
  display: inline;
  margin: 20px;
}

.about-author,
.social-link {
  display: inline-block;
}

button,
.social-link {
  margin: 12px auto;
  padding: 15px 25px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  font-family: "ArcadePix";
  color: #fff;
  background-color: #4caf50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

button {
  display: block;
}

button:hover {
  background-color: #3e8e41;
}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.new-game,
.tutorial {
  width: 90%;
}

.main-menu,
.enter-name,
.how-to-play,
.pause-menu,
.kill-menu,
.pass-menu,
.lost-menu,
.win-menu {
  background-color: bisque;
  border: none;
  border-radius: 5px;
  box-shadow: 5px 9px #999;
  text-align: center;
}

.title {
  margin: 12px;
  padding: 15px 25px;
  font-family: "ArcadePix";
  font-size: 20px;
  text-align: center;
}

.author {
  font-size: 12px;
}
