@font-face {
  font-family: "ArcadePix";
  src: url(../font/PressStart2P-vaV7.ttf);
}

p {
  font-family: "ArcadePix";
  font-size: 20px;
}

.main-wrapper {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.testimage,
.wall,
.f-wall,
.hero,
.bomb,
.mushroom {
  width: 40px;
  height: 40px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  background-size: 100%;
}

.wall {
  background-image: url("../img/block.png");
}

.f-wall {
  background-image: url("../img/frag-block.png");
}

.hero {
  background-image: url("../img/hero.png");
  z-index: 2;
}

.mushroom{
  background-image: url("../img/mob.png");
  z-index: 3;
}

.bomb{
  background-image: url("../img/bomb2.png");
}

img {
  width: 100%;
}

.game-field {
  position: relative;
}
